.stl1{
    width:650px;
    height:150px;
    z-index: 1000;
    padding: 15px;
    position: fixed;
    margin:auto;
}

.add-keyword-field{
    float: right;
    height: 20%;
    width: 30%;
}

.add-keyword-button{
    float: right;
    text-align: center;
    height:25%;
    align:center;
}